.hide{
	display: none;
	visibility:hidden;
}
#contente{
	background-color: #ffffff;
	width: 800px;
	max-width: 800px;
	height: 500px;
	max-height: 500px;
	margin: 0 auto;
	border-radius:12px;
	padding: 15px;
	text-align: center;
}
body{
	background-color: #8f8f8f;
}
/*
	login dropdown
*/

.login{
	width: 300px;
	min-width: 300px;
	padding: 10px;
}
.login-dropdown li{
	padding: 30px;
}